<section>
    <h1>LOGIN RESPONSE: {{ loginResponse }}</h1>
    <section class="login">
        <h2 class="section-heading">Login:</h2>

        <form [formGroup]="applyForm" (submit)="submitLogin()"> 
            <label for="username">USERNAME:</label>
            <input id="username" type="text" formControlName="username">
            
            <label for="password">PASSWORD:</label>
            <input id="password" type="text" formControlName="password">
            <button type="submit" class="button">Submit Login Form</button>
        </form>

    </section>
</section>
