<p>room works!</p>
<p>You are in room {{ currentRoom }}</p>
<button type="button" (click)="getMessages()">getMessages</button>
@for (msg of msgList; track $index) {
    <li>{{msg}}</li>
}

<ul #messageArea></ul>

<form [formGroup]="applyForm" (submit)="sendMessage()">
    <label for="username"> username: </label>
    <input id="username" type="text" formControlName="username">

    <label for="content">content: </label>
    <input id="content" type="text" formControlName="content">
    <button type="submit" class="button">Submit Message</button>
</form>