<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="login" id="login-page">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label>Nickname: </label><input type="text" name="nickName"/><br />
            <label>Password: </label><input type="password" name="password"/><br />
            
            <input type="hidden" name="_csrf" value="{{token}}" />
            <input type="submit" value="Login"/><br/>
        </form>
    </div>
    
    <div class="register hidden" id="register-page">
        <h1>Register:</h1>
        <form action="/login" method="post">
            <label>Nickname: </label><input type="text" name="nickName"/><br />
            <label>Password: </label><input type="password" name="password"/><br />
            <label>Repeat Password: </label><input type="password" name="password2"/><br />

            <input type="hidden" name="_csrf" value="{{token}}" />
            <input type="submit" value="register"/><br/>
        </form>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>