body {
  margin: 0;
}

/* Room Name Section */
.room-name {
  width: 100%;
  margin: 0 auto;
  background: #5eb2b3; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff; /* White text color */
}

.room-name h1 {
  font-size: 20px;
  margin: 0; /* Remove default margins */
}

/* Message Area Section */
.message-area {
  width: 100%;
  margin: 20px auto;
  background: #dff1f1; /* Light gray background */
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  padding: 10px;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto; /* Enable scrolling for long message lists */
}

/* Message Styles */
.message-sender,
.message-server,
.message-own {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.message-sender {
  background-color: #e0f2ff; /* Lighter blue for sender messages */
}

.message-server  {
  background-color: #5eb2b3;
}
.message-own {
  background-color: #5fe6cf; /* White background for other messages */
}

/* Leave Room Button */
.leave-room-button {
  background: #3786bd; /* Similar blue color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Form Section (Adjust as needed) */
.form-content {
  /* ... styles for form section ... */
}