<p>room works!</p>

<div class="page-content">
    <div class="room-name">
        <h1>You are in room {{ currentRoom }}</h1>
    </div>
    

    <button type="button" (click)="getMessages()">getMessages</button>

    @for (msg of msgList; track $index) {
        <li class="message-list" >{{msg}}</li>
    }

    <div class="message-area">
        <ul >
            @for (msg of messagesSesion; track messagesSesion.indexOf) {
                @if (msg.message_room == currentRoom) {
                    @if (msg.message_side == 'sender') {
                        <li class="message-sender">You {{msg.message_username}} {{msg.message_content}} {{msg.message_room}}</li>
                        @if(msg.message_type == 'img'){
                            <img [src]="msg.message_content" alt="File Image" />
                        }@else if (msg.message_type ==  'txt') {
                            <a [href]="msg.message_content" download="message.txt">  Descargar archivo de texto </a>
                        }   
                    
                    }@else if (msg.message_side == 'Server'){
                        <li class="message-server">From: {{msg.message_username}} {{msg.message_content}} {{msg.message_room}}</li>
                    }@else{
                        <li class="message-own">From: {{msg.message_username}} {{msg.message_content}} {{msg.message_room}}</li>
                        @if(msg.message_type == 'img'){
                            <img [src]="msg.message_content" alt="File Image" />
                        }@else if (msg.message_type ==  'txt') {
                            <a [href]="msg.message_content" download="message.txt">  Descargar archivo de texto </a>
                        }       
                    }
                }
            }
            <li class ="messageRight"></li> 
        </ul>
        
    </div>
    <div  class="form-content">
    <form >
        <div class="form-row">
            <label for="content">content: </label>
            <input [(ngModel)]="messageObj.content" type="text"  name="content" >
            <button type="submit" (click)="sendMessage()" class="submit-button">Submit Message</button>
        </div>
    </form>
    </div>

    <div class="form-file">
        <form (ngSubmit)="sendFile()">
          <!-- other form fields -->
          <input type="file" accept=".jpg, .png, .txt" (change)="onFileSelected($event)">
          <!-- other form fields -->
          <button type="submit">Enviar</button>
        </form>
      </div>

</div>